# Zadanie

**W plikach iris.xls oraz iris.xlsx znajdują się te same dane można użyć dowolnego z nich.**
W pliku iris.xls(x) znajdują się dane n.t. kwiatów - irysów.

Kolumny przechowują następujące dane:
- sepal_length - długość działki kielicha
- sepal_width - szerokość działki kielicha
- petal_length - długość płatka
- petal_width - szerokość płatka
- species - gatunek

## Wykonaj następujące ćwiczenia:
1. Wczytaj dane z odpowiedniego arkusza w pliku do ramki `DataFrame`
2. Zmień nazwy kolumn tak, aby rozpoczynały się wielką literą i nie zawierały znaku podkreślenia.
3. Wyświel podstawowe statystki n.t. ramki danych
4. Zgrupuj dane tak po gatunku irysa (species).
5. Wyznacz maksymalną i minimalną długość płatka dla każdego gatunku.
6. Wyznacz średnią dłgość działki kielicha dla wszystkich gatunków i dla każdego z gatunków z osobna.

In [6]:
import pandas as pd
df = pd.read_excel('data/iris.xlsx', sheet_name='iris')

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
aggregations = {
    'petal_length': [min, max],
    'sepal_width': "mean"
}
df.groupby('species').aggregate(aggregations)

df.sepal_width.mean()

3.0540000000000003